version: 2.1

executors:
  ubuntu_2004_amd64:
    docker:
      - image: ghcr.io/kumocorp/builder-for-ubuntu:20.04
  ubuntu_2204_amd64:
    docker:
      - image: ghcr.io/kumocorp/builder-for-ubuntu:22.04
  #ubuntu_2204_aarch64:
  #  docker:
  #    - image: ghcr.io/kumocorp/builder-for-aarch64-ubuntu:22.04

jobs:
  test-rust:
    parameters:
      os:
        type: executor
    executor: << parameters.os >>
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          key: cargo-{{ checksum "Cargo.lock" }}
      - run:
          env:
            KUMOD_TESTCONTAINERS: 0
            #REF_TYPE: ${{ github.ref_type }}
            CARGO_INCREMENTAL: 0
            ROCKSDB_LIB_DIR: /opt/kumomta/lib
            ROCKSDB_STATIC: static
            SNAPPY_LIB_DIR: /opt/kumomta/lib
            SNAPPY_STATIC: static
          command: HOME=/root PATH=$PATH:/root/.cargo/bin echo make test
      - save_cache:
          key: cargo-{{ checksum "Cargo.lock" }}
          paths:
            - ~/.cargo
  deploy:
    # This is an example deploy job, not actually used by the workflow
    docker:
      - image: cimg/base:stable
    steps:
      # Replace this with steps to deploy to users
      - run:
          name: deploy
          command: '#e.g. ./deploy.sh'
      - run:
          name: found github actions config
          command: ':'
workflows:
  build-and-test:
    jobs:
      - test-rust:
          matrix:
            parameters:
              os: [ubuntu_2004_amd64, ubuntu_2204_amd64]

